* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}

header {
  background: #4a6cf7;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 70vh;          
  background: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}


.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
}

.hero-text h1 {
  font-size: 38px;
}

.hero-text span {
  color: #4a6cf7;
}

.hero-image img {
  width: 270px;        
  height: 270px;
  object-fit: cover;
  border-radius: 40%;
  border: 2px solid #4a6cf7;
}


.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: #4a6cf7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 80px 60px;
  text-align: center;
}

.section.light {
  background: #f9f9f9;
}

.section h2 {
  margin-bottom: 20px;
  color: #4a6cf7;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.skills-container span {
  background: #4a6cf7;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #fff;
  width: 230px;          
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card img {
  width: 102%;
  height: 110px;        
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-details p {
  margin: 8px 0;
}

.contact-details a {
  color: #4a6cf7;
  text-decoration: none;
}

footer {
  background: #4a6cf7;
  color: #fff;
  text-align: center;
  padding: 15px;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-image img {
  width: 270px;
  height: 270px;
  }

}
